

body {
    height: 100vh;
    width: 100vw;
    background-color: #CBBFF1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.title {
    font-family: 'sans';
    font-weight: bolder;
    font-size: 50px;
    color: #120A2C;
}
.boxHolder {
    display: grid;
    grid-template-columns: repeat(8, minmax(1px, 500px));
    grid-template-rows: repeat(8, minmax(1px, 500px));
    height: 500px;
    width: 500px;
    border-width: thin;
    border: solid;
    border-color: #120A2C;
}

.buttons {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    gap: 20px;
}

button {
    font-weight: bolder;
    color: white;
    background-color:#4A27B2;
    padding: 10px 32px;
    border-radius: 8px;
    width: 175px;
}